body {
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: #011C26;

}

header,footer {
  padding: 1rem 0;
  color: #AC0000;
    background-color: #101010;
}

main {
  padding: 2rem;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #BDE3F2;
}

ul {
  display: flex;
  justify-content: center;
}

li {
  list-style: none;
  font-size: 1rem;
  text-transform: uppercase;
  border-bottom: 1px solid #427F8C;
  color: whitesmoke;
  width: 250px;
  margin: 1rem;
  padding: 1rem;
  font-weight: 900;
  color: #427F8C;
}

li:hover {
  background-color: #427F8C;
  transition: all 1s;
  color: #BDE3F2;
}

a {
  color: inherit;
  text-decoration: none;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 1rem;
  }